$main-font: "Montserrat Alternates", sans-serif;
$main-font-size: 20px;
$main-font-weight: 400;
$secondary-font-size: 15px;
$secondary-font-weight: 700;
$subheading-font-size: 30px;
$subheading-font-weight: 600;
$medium-font-weight: 500;


$main-color: black;
$text-color: rgba(26, 26, 26, 0.7);
$subheading-color: #7E7E7E;
$primary-color: #BD7048;
$button-text-color: white;
$secondary-button-color: #FFDBC9;
$third-button-color: #F14635;
$inactive-checkout-color: rgba(37, 37, 37, 0.5);
$question-background: #FAFAFA;



@mixin button($button-text-color,
    $secondary-font-size,
    $subheading-font-weight,
    $primary-color) {
    max-width: 268px;
    height: 74px;
    background-color: $primary-color;
    border: none;
    color: $button-text-color;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: $subheading-font-weight;
    font-size: $secondary-font-size;
    cursor: pointer;

    &:hover {
        color: rgba(0, 0, 0, 0.5);
        opacity: 0.8;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #9FA28A;
        opacity: 0.8;
    }
}

.header {
    font-family: $main-font;
    font-weight: $subheading-font-weight;
    font-size: 0.75rem; //15px
    box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
    min-width: 90rem;

    .header_container {
        padding: 2rem 5rem; //40px 100px
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        .header_logo {
            a {
                span:nth-of-type(1) {
                    color: $main-color;
                }

                span:nth-of-type(2) {
                    color: $primary-color;
                }

                span:nth-of-type(3) {
                    font-weight: $main-font-weight;
                    color: $main-color;
                    font-size: 0.5rem; //10px
                }
            }
        }

        .haeder_nav-list {
            display: flex;
            list-style: none;
            font-weight: $main-font-weight;

            li {
                //color: rgb(0, 0, 0, 0.5);
                padding: 0.4rem 1rem; //8px 20px

                a {
                    color: rgb(0, 0, 0, 0.5);
                }
            }

            .header_nav-link {
                padding-bottom: 0.6rem; //12px
                position: relative;
                transition: color 0.3s ease;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 25%;
                    width: 50%;
                    height: 0.1rem; //2px
                    background-color: $primary-color;
                    transform: translateX(50%);
                    transition: opacity 0.3s ease;
                    opacity: 0;
                }

                &.active {
                    color: $primary-color;
                    font-weight: $subheading-font-weight;
                }

                &.active::after {
                    opacity: 1;
                }

                &:hover {
                    color: $primary-color;
                }

                &:hover::after {
                    opacity: 1;
                }
            }
        }

        .header_contact {
            display: flex;

            .header_contact-icon {
                padding-top: 0.2rem; //4px
                padding-right: 1rem; //20px
            }

            .header_contact-info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                a {
                    font-weight: $subheading-font-weight;
                    color: #3b3b3b;
                }

                a:hover {
                    color: $primary-color;
                }

                p {
                    font-weight: 500;
                    color: rgba(59, 59, 59, 0.5);
                }
            }
        }
    }
}

.footer {
    font-family: $main-font;
    font-size: 0.75rem; //15px
    font-weight: $subheading-font-weight;
    box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
    min-width: 90rem;

    .footer_container {
        padding: 2rem 5rem; //40px 100px
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        .footer_logo {
            a {
                span:nth-of-type(1) {
                    color: $main-color;
                }

                span:nth-of-type(2) {
                    color: $primary-color;
                }

                span:nth-of-type(3) {
                    font-weight: $main-font-weight;
                    color: $main-color;
                    font-size: 0.5rem; //10px
                }
            }
        }

        .footer_nav-list {
            list-style: none;
            font-weight: $main-font-weight;

            li {
                padding-bottom: 0.4rem; //8px

                a {
                    color: rgba(33, 33, 33, 0.5);
                }
            }

            .footer_nav-link {
                &.active {
                    color: $primary-color;
                    font-weight: $subheading-font-weight;
                }

                &.active::after {
                    opacity: 1;
                }

                &:hover {
                    color: $primary-color;
                }
            }
        }

        .footer-policy {
            font-weight: 500;

            li {
                list-style: none;

                a {
                    color: rgba(33, 33, 33, 0.5);

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .footer_contact {
            display: flex;

            .footer_contact-icon {
                padding-top: 0.2rem; //4px
                padding-right: 1rem; //20px
            }

            .footer_contact-info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                a {
                    font-weight: $subheading-font-weight;
                    color: #3b3b3b;
                }

                a:hover {
                    color: $primary-color;
                }

                p {
                    font-weight: 500;
                    color: rgba(59, 59, 59, 0.5);
                }
            }
        }
    }

    .footer__copyright {
        height: 4.8rem; //96px
        background-color: #262626;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.main_container {
    min-width: 90rem;
    padding: 0;
    // margin: 0 auto;
    font-family: $main-font;
}

.main_ccontainer-head {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.head-design {
    font-size: 40px;
}

.head-text {
    color: $text-color;
    font-size: $main-font-size;
    max-width: 62.75rem;
    text-align: center;
}

.head {
    display: flex;
    font-size: $subheading-font-size;
    padding: 3rem;
}

.cardsContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cardImage {
    height: 16rem;
}

.cardName,
.cardName-third {
    font-weight: $medium-font-weight;
}

.cardName-third {
    text-align: end;
}

.cardButton {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid $button-text-color;
    border-radius: 25px;
    font-family: $main-font;
    color: $primary-color;
    font-size: $secondary-font-size;
    background-color: $question-background;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.7;
        color: white;
    }

}

.cardName-secondary {
    color: $primary-color;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button {
    text-align: center;
    cursor: pointer;
}

.cardsContainer-mobile {
    display: none;
}

@media screen and (max-width: 440px) {

    .main_container,
    .header,
    .footer {
        min-width: 27.5rem;
    }

    .cardsContainer {
        display: none;
    }

    .cardsContainer-mobile {
        display: flex;
        justify-content: space-between;
        padding-left: 2.5rem;
    }

    .cardImage-mobile {
        min-height: 13.6rem;
    }

    .main_ccontainer-head {
        display: none;
    }

    .head {
        font-size: 25px;
    }
}