@import "_variables.scss";

body {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    font-family: $main-font;
    font-size: $main-font-size;
    box-sizing: border-box;
}

header {
    margin: 0;
}

span {
    color: $primary-color;
}

.header_container {

    padding: 2rem 5rem; //40px 100px
    display: flex;
    justify-content: space-between;
    font-weight: $subheading-font-weight;
    font-size: 0.75rem;
    box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
        a {
    text-decoration: none;
    }

    .header_logo {
        a {
        span:nth-of-type(1) {
            color: $main-color;
        }
        span:nth-of-type(2) {
            color: $primary-color;
        }
        span:nth-of-type(3) {
            font-weight: $main-font-weight;
            color: $main-color;
            font-size: 0.5rem; //10px
        }
        }
    }

    .header_nav-list {
        display: flex;
        list-style: none;
        font-weight: $main-font-weight;
        li {
          //color: rgb(0, 0, 0, 0.5);
          padding: 0.4rem 1rem; //8px 20px
        a {
            color: rgb(0, 0, 0, 0.5);
        }
        }
        .header_nav-link {
          padding-bottom: 0.6rem; //12px
        position: relative;
        transition: color 0.3s ease;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 25%;
            width: 50%;
            height: 0.1rem; //2px
            background-color: $primary-color;
            transform: translateX(50%);
            transition: opacity 0.3s ease;
            opacity: 0;
        }
        &.active {
            color: $primary-color;
            font-weight: $subheading-font-weight;
        }
        &.active::after {
            opacity: 1;
        }
        &:hover {
            color: $primary-color;
        }
        &:hover::after {
            opacity: 1;
        }
        }
    }

    .header_contact {
        display: flex;
        .header_contact-icon {
          padding-top: 0.2rem; //4px
          padding-right: 1rem; //20px
        }
        .header_contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
            font-weight: $subheading-font-weight;
            color: #3b3b3b;
        }
        a:hover {
            color: $primary-color;
        }
        p {
            font-weight: 500;
            color: rgba(59, 59, 59, 0.5);
        }
        }
    }
}

p, h2, h3, h4 {
    margin: 0;
} 

ul {
    margin: 0;
    padding: 0;
}

.rooms__sibtitle {
    font-size: $main-font-size;
    font-weight: $medium-font-weight;
    margin-top: 4rem;
    margin-bottom: 0.6rem;   
}

.rooms__title {
    font-size: $subheading-font-size;
    font-weight: $subheading-font-weight;
    color: #262626;
    margin-bottom: 1.5rem; 
}

.rooms__title_text {
    display: grid;
    grid-template-columns: 2.2fr 3fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
    align-items: baseline;
    justify-items: start;
    margin-bottom: 2.5rem;

    .rooms__title_text-one {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: $main-font-size;
        font-weight: $main-font-weight;
        color: $text-color;
    }

    .rooms__title_text-two {
        list-style: none;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .rooms__title_text-two span {
        font-weight: $main-font-weight;
    }

    .rooms__title_text-two h4 {
        font-size: $main-font-size;
        font-weight: $medium-font-weight;
        color: $text-color;
    }
}

button { @include button($button-text-color,
        $secondary-font-size,
        $subheading-font-weight,
        $primary-color);
        display: flex;
        max-width: 9rem;
        min-width: 182px;
        height: 57px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 0.7rem;
    }

.rooms__price {
    font-size: $main-font-size;
    font-weight: $medium-font-weight;
    color: $text-color;
    margin-bottom: 4rem;
}

.receive__title {
    font-size: $subheading-font-size;
    font-weight: $secondary-font-weight;
    color: #262626;
    margin-bottom: 1.5rem;
}

.receive__list {
    font-size: $main-font-size;
    font-weight: $medium-font-weight;
    color: #262626;
    margin-bottom: 1.9rem;
    padding-left: 1.3rem;
}

.receive__example_items h4 {
    font-size: $main-font-size;
    font-weight: $medium-font-weight;
    color: $text-color;
}

.receive__example_items p {
    font-size: $secondary-font-size;
    font-weight: $subheading-font-weight;
    color: #020202;
    margin-bottom: 0.3rem;
}


.receive__example {
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
}


.works, .services, .receive, .rooms {
    margin: 0 6rem;
}

.services__title {
    margin-bottom: 2.5rem;
    text-align: left;
    font-size: 40px;
    font-weight: $secondary-font-weight;
    color: #262626;
}

.services__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 15%;
    column-gap: 2rem;
    align-items: center;
    justify-items: center;

    a {
        justify-self: start;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        text-decoration: none;
        color: #353535;
        font-size: $main-font-size;
        font-weight: $subheading-font-weight;
        margin-top: 2.4rem;
        margin-bottom: 3rem;
    }

    .services__item-one_link {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .services__item-two_link {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.works__title {
    margin-top: 2.8rem;
    margin-bottom: 4.8rem;
    text-align: left;
    font-size: 40px;
    font-weight: $secondary-font-weight;
    color: #262626;
}

.works__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    column-gap: 2rem;
    align-items: start;
    justify-items: center;
    margin-bottom: 7.6rem;

    img {
        justify-self: left;
    }

    h4 {
        color: #262626;
        font-size: $main-font-size;
        font-weight: $medium-font-weight;
        margin-bottom: 0.5rem;
        margin-left: 1.5rem;      
    }

    p {
        color: $text-color;
        font-size: $secondary-font-size;
        font-weight: $medium-font-weight;
        margin-left: 1.5rem;   
    }

    .works__item-one_text {
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: url(../images/style_overview/01.svg);
        background-repeat: no-repeat;
        background-size: 22%;
    }

    .works__item-two_text {
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../images/style_overview/02.svg);
        background-repeat: no-repeat;
        background-size: 22%;
    }

    .works__item-three_text {
        grid-column: 3/4;
        grid-row: 1/2;
        background-image: url(../images/style_overview/03.svg);
        background-repeat: no-repeat;
        background-size: 22%;
    }

}


.footer {
    font-size: 0.75rem; //15px
    font-weight: $subheading-font-weight;
    box-shadow: 0 4px 37px 0 rgba(0, 0, 0, 0.05);
    .footer_container {
        padding: 2rem 5rem; //40px 100px
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
    
        .footer_logo {
            a {
            span:nth-of-type(1) {
                color: $main-color;
            }
            span:nth-of-type(2) {
                color: $primary-color;
            }
            span:nth-of-type(3) {
                font-weight: $main-font-weight;
                color: $main-color;
                font-size: 0.5rem; //10px
            }
            }
        }
    
        .footer_nav-list {
            list-style: none;
            font-weight: $main-font-weight;
            li {
            padding-bottom: 0.4rem; //8px
            a {
                color: rgba(33, 33, 33, 0.5);
            }
            }
            .footer_nav-link {
            &.active {
                color: $primary-color;
                font-weight: $subheading-font-weight;
            }
            &.active::after {
                opacity: 1;
            }
            &:hover {
                color: $primary-color;
            }
            }
        }
    
        .footer-policy {
            font-weight: 500;
            li {
            list-style: none;
            a {
                color: rgba(33, 33, 33, 0.5);
                &:hover {
                color: $primary-color;
                }
            }
            }
        }

    .footer_contact {
        display: flex;
        .footer_contact-icon {
          padding-top: 0.2rem; //4px
          padding-right: 1rem; //20px
        }
        .footer_contact-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            a {
            font-weight: $subheading-font-weight;
            color: #3b3b3b;
            }
            a:hover {
            color: $primary-color;
            }
            p {
            font-weight: 500;
            color: rgba(59, 59, 59, 0.5);
            } 
        }
    }
    }

    .footer__copyright {
    
        height: 4.8rem; //96px
        background-color: #262626;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}